.mainContent{
    display: flex;
}

.userListWrapper{
    background-color: #2A2845;
    color: #fff;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    flex: 1;
    order: 1;
    padding: 20px 0px 40px 30px;
    border-right: 1px solid #222;
    /* height: 900px; */
}

.feedWrapper{
    background:  url('http://2.bp.blogspot.com/-yon26vbAYNU/UQfF_Opq51I/AAAAAAAAfDQ/QxAKa--zGQs/s1600/mountains-at-night-209794.jpg');
    /* height: 900px; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: scroll;
    padding: 20px 0px 0px 24px;
    
    
    
}

.chatFormWrapper{
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;

}

#scroll-style::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #F5F5F5;
}